<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharamacy4U</title>
    <link rel="stylesheet" href="/CSS/style.css">
    
</head>
<body>
    <div>
        <%- include("../includes/navbar.ejs") %>
    </div>
       
    <div class="container">
        <%- include("../includes/flash.ejs") %>
        <%- include("../includes/carousel.ejs") %>
        <%-body%>
   </div>
   
   <%- include("../includes/footer.ejs") %>
    
</body>
</html>